@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:Georgia, "Times New Roman", Times, serif;
}
a{
	text-decoration:none;
	color:inherit;
}
button{
	border-radius:5px;
	width:100px;
	line-height:30px;
	/*cursor:pointer;*/
	border:none;
}
button:hover{
	background-color:#e8a1c4;
	color:white;
}
body, html{
	min-width:1200px;
}

html,body{
	cursor:url(../COMMON/my3.png),pointer;
}

.all{
	width:1200px;
}
.wrap{
	width:100%;
}
.clear{
	clear:both;
	position:inherit;
}

header{
	height:83px;
}
.logo{
	float:left;
}
.logo img{
	width:300px;
	height:93px;
}
.nav{
	color:#594a41;

	text-align:center;
	float:right;
	width:900px;
}
.nav li{
	position:relative;
	float:left;
	width:300px;
}
.nav li:hover{
	background-color:#e8a1c4;
	color:white;
}


#room{
	width:1200px;
	height:1200px;
}


.moon{
	cursor:pointer;
}
.modal{
	display:none;
	left:0;
	top:0;
	width:100%;	
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.5);
}
.modal img{
	margin:50px 0 0 800px !important;
	left:1000;
	position:absolute;
}
.modal button{
	margin-top:600px;
	margin-left:540px;
}
.modal p{
	border-radius:40px;
	top:0;
	margin-left:350px;
	background-color:rgba(0,0,0,0.9);
	width:1200px;
	height:700px;
}
.name{
	margin:350px 0 0 800px !important;
	left:20;
	position:absolute;
	font-style:italic;
	font-size:40px;
	color:white;
}
.text{
	text-align:center;
	margin:450px 0 0 830px !important;
	position:absolute;
	font-style:italic;
	font-size:20px;
	color:white;
}

.circle{
	cursor:pointer;
}
.modaltwo{
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.5);
}
.modaltwo img{
	margin:50px 0 0 800px !important;
	left:20;
	position:absolute;
}
.modaltwo button{
	margin-top:600px;
	margin-left:540px;
}
.modaltwo p{
	border-radius:40px;
	top:0;
	margin-left:350px;
	background-color:rgba(0,0,0,0.9);
	width:1200px;
	height:700px;
}
.nametwo{
	margin:350px 0 0 700px !important;
	left:20;
	position:absolute;
	font-style:italic;
	font-size:40px;
	color:skyblue;
}
.texttwo{
	text-align:center;
	margin:450px 0 0 720px !important;
	position:absolute;
	font-style:italic;
	font-size:20px;
	color:white;
}

.star{
	cursor:pointer;
}
.modalthree{
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.5);
}
.modalthree img{
	margin:50px 0 0 680px !important;
	left:20;
	position:absolute;
}
.modalthree button{
	margin-top:600px;
	margin-left:540px;
}
.modalthree p{
	border-radius:40px;
	top:0;
	margin-left:350px;
	background-color:rgba(0,0,0,0.9);
	width:1200px;
	height:700px;
}
.namethree{
	margin:350px 0 0 800px !important;
	left:20;
	position:absolute;
	font-style:italic;
	font-size:40px;
	color:#edadbd;
}
.textthree{
	text-align:center;
	margin:450px 0 0 600px !important;
	position:absolute;
	font-style:italic;
	font-size:20px;
	color:white;
}



#contents{
	width:1200px;
	height:1000px;
}

.one{
	float:left;}
.two{
	float:left;}
.three{
	float:left;}
.four{
	float:left;}
.five{
	float:left;}
.six{
	float:left;}
.seven{
	float:left;}
.eight{
	float:left;}
.nine{
	float:left;}
